/* Webpage CSS file */

/*header CSS*/
    header img {
        width: 200px;
        transition: transform 1s;
    }
    header img:hover {
        transform: matrix(1, 0.3, 0, 1, 0, 50) translateX(500px) scale(1.5);
    }

/*body CSS*/
    main ul {
        display: grid;
        justify-items: center;
    }
    li {
        
    }

/*footer CSS*/
    .social img {
        width: 50px;
    }


/*Test Comment*/