/* Webpage CSS file */

.ranchers-regular {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*header CSS*/
    header {
        display: grid;
        grid-template-columns: 100px 1fr;
        justify-items: center;
    }
    header img {
        width: 100px;
        transition: transform 1s;
    }
    header img:hover {
        transform: matrix(1, 0.3, 0, 1, 0, 50) translateX(500px) scale(1.5);
    }
    header h1 {
        font-family: 'Ranchers';
        letter-spacing: 1px;
    }
    hr {
        width: 99%;
    }

/*body CSS*/
    main {
        justify-items: center;
        text-align: center;
        width: 800px;
        justify-self: center;
    }
    main ul {
        display: grid;
        justify-items: center;
        gap: 5px;
    }
    main li {
        margin: 10px;
        background-color: bisque;
    }
    main button {
        background-color: aliceblue;
        color: black;
    }

/*footer CSS*/
    .social img {
        width: 50px;
    }


/*Test Comment*/