/* Webpage CSS file */

header img {
    width: 200px;
}

body{
    margin: 0;
}

footer{
    width: 100%;
    background-color: gray;
    padding: 40px 0;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.social{
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 15px;
}

.social a{
    justify-content: center;
}

footer .logo{
    width: 10px;
    height: auto;
    justify-content: center;

}


.ranchers-regular {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*header CSS*/
    header {
        display: grid;
        grid-template-columns: 100px 1fr;
        justify-items: center;
    }
    header img {
        width: 100px;
        transition: transform 1s;
    }
    header img:hover {
        transform: matrix(1, 0.3, 0, 1, 0, 50) translateX(500px) scale(1.5);
    }
    header h1 {
        font-family: 'Ranchers';
        letter-spacing: 1px;
    }
    hr {
        width: 99%;
    }

/*body CSS*/
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
        width: 800px;
        justify-self: center;
    }
    main h2{
        grid-column: 1 / 3;
        font-family: 'Ranchers';
        letter-spacing: 1px;
    }
    main p{
        grid-column: 1 / 3;
    }
    main button {
        width: 100px;
        grid-column: 1 / 3;
        background-color: aliceblue;
        color: black;
    }
    main ul {
        display: grid;
        justify-items: center;
        gap: 5px;
    }
    main li {
        margin: 10px;
        background-color: bisque;
    }
    #details {
        grid-column: 1 / 3;
    }

/*footer CSS*/
    .social img {
        width: 50px;
    }


/*Test Comment*/

